{% extends 'base.html' %}
{% block title %}
<title>Reset Password</title>
{% endblock title %}
{% block contentA %}

<div class='container w-50 '>

    <form method="post" action=" ">
        {{form.hidden_tag()}}
        <fieldset class='form-group mt-500'>
            <legend class="border-bottom mb-4"> {{legend}}</legend>

            <div class="form-group  ">
                {{form.email.label(class='form-control-label')}}
                {% if form.email .errors %}
                    {{form.email(class='form-control form-control-lg is-invalid')}}
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.email(class='form-control form-control-lg')}}

                {% endif %}

            </div>
        </fieldset>
            <div class="form-group mt-4">
                {{form.submit(class='btn btn-primary')}}
            </div>
    </form>
</div>


{% endblock contentA %}